* {
    box-sizing: border-box;
}

body {
    background: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

//Layout
.menu-btn {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 80px;
    height: 80px;
    transition: all .5s ease-in-out;
    cursor: pointer;

    &-hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        height: 5px;
        width: 60px;
        border-radius: 5px;

        &::before, &::after {
            content: '';
            position: absolute;
            background: #fff;
            height: 5px;
            width: 60px;
            border-radius: 5px;
        }

        &::before {
            transform: translateY(-16px);
        }

        &::after {
            transform: translateY(16px);
        }
    }
}

//Animation
.menu-btn.open .menu-btn-hamburger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn-hamburger::before {
    transform: rotate(45deg) translate(35px, -35px);
    transition: all .5s ease-in-out;
}

.menu-btn.open .menu-btn-hamburger::after {
    transform: rotate(-45deg) translate(35px, 35px);
    transition: all .5s ease-in-out;
}